
body {
    margin: 0;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #020304; /* Light green/off-white background */
    line-height: 1.6;
}



.site-header {
    display: none;
    /* KEY: Makes the header stick to the top */
    background-color: #010102;
    position: sticky;
    top: 0;
    z-index: 1000; 
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px 20px;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 2px;
}

.navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navigation ul li {
    margin-left: 20px;
}

.navigation ul a {
    color: white;
    text-decoration: none;
    font-size: 0.95em;
    padding: 5px 10px;
    transition: color 0.3s;
}

.navigation ul a:hover {
    color: #fca311; 
}



.dashboard{
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    text-align: center;
    padding-top: 32vh;
    background-color: #010102;
}


.dashboard h3{
    font-size:2vh;
    color: white;

}


#story-parallax {
    position: relative;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    background-color: #010102;

    
}

.parallax-layer {
    position: absolute;
    inset: 0;
    will-change: transform;
}

.parallax-layer img{
    max-width: 100%;
    height: auto;
    position: relative;
}

.fog{
    opacity: 80%;
}

.dialogue-box {
    position: fixed;
    bottom: 0;
    width: 24vw;
    z-index: 1000;
    
    background-color: #000000;
    border: 3px solid #565555;
    box-shadow: 32px 28px 32px rgba(0, 0, 0, 1.8);
    border-radius: 74px;
    
    display: flex;
    align-items: flex-start;
    margin: 64px;
}

.profile-image {
    width: 100px;
    height: 100px;
    flex-shrink: 0;
    border: 3px solid #565555;
    overflow: hidden;
    border-radius: 128px;
}

.profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.dialogue-content {
    flex-grow: 1;
    padding-left: 15px;
    color: white;
}

.character-name {
    font-size: 1.2em;
    font-weight: bold;
    color: #ffd700;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.dialogue-text {
    margin: 0;
    font-family: monospace, sans-serif;
    font-size: 1em;
    line-height: 1.4;
}


.Seven{
    position: relative;
    background-image: url('img/Seven/sss.png');
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(10%) hue-rotate(340deg) saturate(70%) grayscale(30%);
}
.Seven.is-back {
    /* Apply the specific keyframe animation */
    animation: propeller-back 0.3s steps(2) infinite;
}
.Seven.is-front {
    animation: propeller-front 0.3s steps(2) infinite;    
}
.Seven.is-front-wave {
    animation: propeller-front-wave 0.3s steps(2) infinite;
}
.Seven.is-side {
    animation: propeller-side 0.3s steps(2) infinite;
}

@keyframes propeller-back {
    from { background-position: 0px 0; }
    to { background-position: -400px 0; }
}
@keyframes propeller-front {
    from { background-position: -600px 0; }
    to { background-position: -200px 0; }
}
@keyframes propeller-front-wave {
    from { background-position: -800px 0; }
    to { background-position: -1200px 0; }
}
@keyframes propeller-side {
    from { background-position: -1200px 0; }
    to { background-position: -1600px 0; }
}

/* ==========================================
   SCENE 1 LAYERS
   ========================================== */

.quinn-character-s1{
    top: -10.5%;
    left: 5.9%;
    width: 19.8%;
    object-fit: contain;
    will-change: opacity;
}

#S1-FG{
    position: absolute;
    z-index: 1;
}


#S1-L1{
    width: 50%;
    left: 25%;
}
#S1-L2{
    width: 90%;
    left: 0%;
}
#S1-TOWER{
    width: 20%;
    left: 41%;
}

  /* ========================================== */


.wishlist-section{
    display: flex;
    width: 100%;
    height: auto;
    color: white;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 16vh;
    padding-bottom: 32vh;
    background-color: #010102;
}


.cta-button{
    background-color: transparent;
    border: 0;
    
    text-align: center;
    height: 16vh;
    width:25vh;

    cursor: pointer;
    
    background-image: url('img/UI/Button_UI_NORMAL.webp');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.2s ease-in-out;
}

.cta-button:hover{
    background-color: transparent;
    border: 0;
    
    text-align: center;
    height: 16vh;
    width:32vh;

    cursor: pointer;
    
    background-image: url('img/UI/Button_UI_SELECTED.webp');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


.site-footer {
    background-color: #1a1a1a;
    color: #999;
    text-align: center;
    padding: 5px;
    font-size: 0.8em;
}


#static-scene { display: none; }

@media (max-width: 768px) {
    #story-parallax { display: none !important; }
    #static-scene { display: block; }
    .dashboard{display: none;}
    .dialogue-box{display: none;}

}