
@import url('https://fonts.cdnfonts.com/css/terminal-grotesque-open');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');


:fullscreen, 
:-webkit-full-screen, 
:-moz-full-screen,
:-ms-fullscreen {
    width: 100vw !important; 
    height: 100vh !important;
    
    margin: 0 !important;
    padding: 0 !important;
    
    display: flex;
    flex-direction: column;
}

html, body, #smooth-wrapper, #smooth-content {
    margin: 0;
    padding: 0;
    background-color: #000000; 
    overflow: hidden;
    user-select: none;
}

body {
    margin: 0;
    font-family: 'Terminal Grotesque Open', Arial, sans-serif;
    line-height: 1.6;
}


img{
    max-width: 100vw;
    height: auto;
    pointer-events: none;
}

::-webkit-scrollbar {width: 1.5vh;}
::-webkit-scrollbar-track {background: #010102;}
::-webkit-scrollbar-thumb {background: #28E1DC;}
::-webkit-scrollbar-thumb:hover {background: #B34229;}

.site-header {
    position: fixed;
    width: 100vw;
    font-family: 'Anton', Arial, sans-serif;
    background-color: #000000;
    display: block;
    z-index: 1000; 
    color: white;
    font-size: 1.0em;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 90vw;
    margin: 0 auto;
    padding: 2vh 20vw;
}

.logo {
    font-weight: bold;
    letter-spacing: 1.5vw;
}

.navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navigation ul li {
    margin-left: 20vw;
}

.navigation ul a {
    color: white;
    text-decoration: none;
    font-size: 0.95em;
    padding: 5px 10px;
    transition: color 0.3s;
}

.navigation ul a:hover {
    color: #fca311; 
}

.navigation ul a.active-link {
    color: #fca311; 
    font-weight: bold;
}


.dashboard{
    margin-top: 5vh;
    background-repeat: no-repeat;
    background-size:fill ;
    background-position: center;
    font-size: large;
    background-position: 180% 40%;
}

.content-box{
    position: relative;
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    padding-top: 25vh;
    color: white;

}

.content-box img{
    width: 50vw;
    animation: neon-flicker 3s infinite alternate;
}

/* Neon Flicker Animation */
@keyframes neon-flicker {
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
        opacity: 1;
        filter: 
            drop-shadow(0 0 0.2vw #00ffff) 
            drop-shadow(0 0 0.9vw #00ffff) 
            drop-shadow(0 0 13vw #00ffff)
            brightness(1.2);
    }
    20%, 24%, 55% {
        opacity: 0.8;
        filter: none;
    }
}


/* The Neon Slider Styling */
.volume-container {
    margin-top: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
}

#volume-slider {
    -webkit-appearance: none;
    width: 30vw;
    height: 0.6vh;
    background: #000000;
    border: 0.1vw solid #00ffff;
    outline: none;
    border-radius: 30%;
}

#volume-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 2vw;
    height: 1.5vh;
    background: #00ffff;
    border-radius: 10%;
    cursor: pointer;
    box-shadow: 0 0 10px #00ffff;
}


#story-parallax {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.parallax-layer {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
}


.parallax-layer img {
    width: 100%;
    height: auto;
    position: absolute;
    object-fit:cover;
}


.dialogue-box {
    position: fixed;
    bottom: 0;
    max-width:26vw;
    min-height: 0vh;
    z-index: 1000;
    
    background-color: #0000008b;
    border: 3px solid #000000;
    box-shadow: 32px 28px 32px rgba(0, 0, 0, 1.8);
    border-radius: 74px;
    display: flex;
    align-items: center;
    padding-right: 0.9vw;
}

.profile-image {
    position: absolute;
    width: 6vW;
    height: auto;
    aspect-ratio: 1 / 1;

    flex-shrink: 0;
    border: 3px solid #000000;
    overflow: hidden;
    border-radius: 128px;
}

.profile-image img {
    width: 100%;
    height: 100%;

    object-fit: cover;
    display: block;
    position: absolute; 
    opacity: 0; 
}

.dialogue-content {
    padding-left: 7vw;
    flex-grow: 1;
    color: white;
}

.character-name {
    font-size: 1.4vw;
    font-weight: bold;
    color: #ffd700;
    margin-bottom: 0.5vh;
    text-transform: uppercase;
}

.dialogue-text {
    margin: 0;
    font-size: 1.2vw;
    line-height: 2.5vh;
    margin-bottom: 2vh;

}


.Quinn{
    position: relative;
    background-image: url('img/Quinn/Quinn_Walking-s4.webp');
    background-repeat: no-repeat;
    width: 11%;
    height: 20%;
    left: 37%;
    top: 20%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 30%;
    will-change: opacity,transform;

}

.Quinn.a{
    top: 19.7%;
    background-position: -3%;}
.Quinn.b{
    top: 20%;
    background-position: 30%;}
.Quinn.c{
    top: 19.7%;
    background-position: 65%;}
.Quinn.d{
    top: 20%;
    background-position: 100%;}

.Quinn-lantern{
    position: absolute;
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    left: 0%;
    top: 0%;
    background-size:contain;
    background-repeat: no-repeat;
    background-image: url('img/Quinn/quinn-wc-light-2-4.webp');
    will-change: opacity,transform;
    animation: breathing 3s infinite;
}
.Quinn-lantern.a,.Quinn-lantern.c{background-image: url('img/Quinn/quinn-wc-light-1-3.webp');}
.Quinn-lantern.b,.Quinn-lantern.d{background-image: url('img/Quinn/quinn-wc-light-2-4.webp');}

@keyframes breathing {
    0% {filter: brightness(65%);}
    50% {filter: brightness(100%);}
    100% {filter: brightness(55%); }
}


.Seven{
    position: absolute;
    background-image: url('img/Seven/sss-s1.png');
    width: 15%;
    height: auto;
    aspect-ratio: 1 / 1;
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(10%) hue-rotate(340deg) saturate(70%) grayscale(30%);
}
.Seven.is-back {animation: propeller-back 0.3s steps(2) infinite;}
.Seven.is-front {animation: propeller-front 0.3s steps(2) infinite;}
.Seven.is-front-wave {animation: propeller-front-wave 0.3s steps(2) infinite;}
.Seven.is-side {animation: propeller-side 0.3s steps(2) infinite;}

@keyframes propeller-back {
    from { background-position: 0% 0; }
    to {
        top: 0.2%;
        background-position: 28.5% 0; }
}
@keyframes propeller-front {
    from { background-position: 28.5% 0; }
    to {
        top: 0.2%;
        background-position: 57.5% 0; }
}
@keyframes propeller-front-wave {
    from { background-position: 57% 0; }
    to {
        top: 0.2%;
        background-position: 85.7% 0; }
}
@keyframes propeller-side {
    from { background-position:  100% 0; }
    to { 
        top: 0.2%;
        background-position: 71% 0;}
}

/* ==========================================
   LAYERS
   ========================================== */

.quinn-character-s1{
    top: -10.5%;
    left: 5.9%;
    width: 19.8%;
    object-fit: contain;
    animation: breathing 3s infinite;
}

#S1-FG,
#S3-FG-0{
    position: absolute;
    z-index: 1;
}


#S1-L1{
    width: 60%;
    left: 19%;
}

#S2-LW{width: 5%;}

#S3-LS{
    width: 15%;}


#S1-L2{
    width: 90%;
    left: 0%;
}
#S1-TOWER{
    width: 20%;
    left: 41%;

}

#S3-LS{
    top: 14.5%;
    left: 47.5%;
}

#S5-SVG{
    stroke-width: 0.5vw;
    left: 28%;
}


#S5-EXPO{
    position: absolute;
    justify-self: center;
    background-color: rgb(232, 254, 255);
    border-radius: 50%;
    top: -30%;
    width: 190vw;
    height: 250vh;
    box-shadow: 
    0 0 120vw rgb(232, 250, 255),
    0 0 140vw rgb(75, 189, 255),
    0 0 260vw rgb(0, 128, 255);
}


.head {
    transform-origin: -1vw 1vh;
    animation: headanim 2.9s ease-in-out infinite;
}

.shead{
    position: absolute;
    background-image: url('img/Seven/sss.png');
    width: 120%;
    height: auto;
    aspect-ratio: 1 / 1;
    background-size: cover;
    background-repeat: no-repeat;
    animation: sheadanim 0.3s steps(2) infinite;
    z-index: -1;
    right: 35%;
    transform: rotate(-8deg);
}

.fhead{
    position: absolute;
    background-image: url('img/heads/falco.webp');
    width: 120%;
    height: auto;
    aspect-ratio: 1 / 1;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    top: -250%;
    animation: headanim 5.9s ease-in-out infinite;

}


@keyframes sheadanim {
    from{
        background-position:28.5%;top:-105%}
    to{
        background-position:57%; top:-115%}
}



@keyframes headanim {
    0%, 100% {
        transform: translateY(1vh) rotate(-8deg) scale(1);
    }
    50% {
        transform: translateY(-1vh) rotate(8deg);
    }
}

#S3-LE{
    position: absolute;
    background-image: url('img/Layers/S3-LE.webp');
    width:96vh;
    height: 200vh;
    background-size: cover;
    background-repeat: no-repeat;
    animation: S3-LE-SPRITE 1.5s steps(2) infinite;
}
@keyframes S3-LE-SPRITE {
    from{background-position: 0%;}
    to{background-position: 199%;}
}


.fog{
    position: absolute;
    background: url("img/Layers/S1-FOG.webp") repeat-x;
    background-size: 90% auto;
    animation-name: fogAnim;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.fog.fone {
    background-position: 0%;
    opacity: 0.9;
    top: 25%;
    animation-duration: 15s;}
.fog.ftwo {
    background-position: 50%;
    opacity: 0.9;
    top: 5%;
    animation-duration: 120s; }
.fog.fthree {
    background-position: 100%;
    top: -60%;
    opacity: 0.6;
    animation-duration: 120s;}


@keyframes fogAnim{
    from{background-position: 0px top;}
    to{background-position: 1700px top;}
}

  /* ========================================== */



.wishlist-section{
    display: flex;
    width: 80%;
    justify-self: center;
    height: auto;
    color: white;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 3vh;
    font-size: xx-large;
}


.cta-button{
    position: relative;
    background-color: transparent;
    text-align: center;
    border: 0;
    height: 16vh;
    width:15vw;
    cursor: pointer;
    font-size: 1vw;
    background-image: url('img/UI/Button_UI_NORMAL.webp');
    font-family: 'Anton', Arial, sans-serif;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.2s ease-in-out;
}

.cta-button:hover{
    background-color: transparent;
    border: 0;
    
    text-align: center;
    height: 16vh;
    width:28vh;

    cursor: pointer;
    
    background-image: url('img/UI/Button_UI_SELECTED.webp');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


.site-footer {
    position: relative;
    color: #ffffff;
    text-align: center;
    font-size: 0.7vw;
    padding-top: 35vh;
    font-family: Arial, Helvetica, sans-serif;

}


/* ==========================================
   ABOUT US SECTION STYLING (Desktop)
   ========================================== */

.about-us-section {
    color: white;
    margin-top: 10vh;
    padding-bottom: 10vh;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    justify-self: center;
}

.about-us-section {
    max-width: 50vw;
    font-size: 0.8vw;
}

.about-us-section h1 {
    font-size: 2.7vw;
    color: #fca311;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 0.5em;
    text-align: center;

}

.about-us-section h2 {
    font-size: 1.7vw;
    color: #28E1DC;
    border-bottom: 2px solid #565555;
    padding-bottom: 5px;
    font-family: 'Terminal Grotesque Open', Arial, sans-serif;

}

    .about-us-section p, 
    .about-us-section ul li,
    .usage-note {
        font-family: Arial, Helvetica, sans-serif;
    }


/* ==========================================
   KHLADT LINKS & CTA STYLING (Desktop)
   ========================================== */

.khladt-links {
    text-align: center;
    padding: 3vh 0;
    border-top: 1px dashed #565555;
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.khladt-links p {
    font-size: 1.2vw;
    color: #ccc;
    margin-bottom: 2vh;
}

.cta-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    font-size: 1.2vw;
    white-space: nowrap;
    padding: 1vh 2vw;
    background-color: #28E1DC;
    color: #010102;
    border: 2px solid #28E1DC;
}

.cta-link:hover {
    transform: translateY(-2px);
}

.icon-text {
    display: flex;
    align-items: center;
    gap: 8px; 
}


.itch-io-style,
.youtube-style {
    background-color: #FCA311;
    color: #010102;
    border: 2px solid #FA5B5B;
}

.itch-io-style:hover,
.youtube-style:hover {
    background-color: #df4a4a;
    color: white;
}

.list-title{color: #FCA311;}
.list-title:hover{color: #FA5B5B}



/* ==========================================
   LOADING SCREEN STYLING
   ========================================== */

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease-out, visibility 0.5s;
}

#loader-wrapper.loaded {
    opacity: 0;
    visibility: hidden;
    pointer-events: none; 
}

.loader-content {
    text-align: center;
    color: white;
}

.loader-content h1 {
    font-size: 4vw;
    color: #28E1DC;
    margin-bottom: 2vh;
}

#loading-bar {
    width: 20vw;
    height: 3px;
    background-color: #565555;
    margin: 0 auto;
}



/* ==========================================
   MOBILE MEDIA QUERY (MAX-WIDTH: 768PX)
   ========================================== */

@media (max-aspect-ratio: 4/3) {

    #story-parallax {
        position: relative;
        aspect-ratio: 1 / 1;
        overflow: hidden;
        background-color: #000000;
        min-height: 100vh;
        width: 100vw;
    }

    .volume-container,
    .Quinn-lantern,
    [id^="S2-"],
    [id^="S3-"],
    [id^="S4-"],
    [id^="S5-"],
    [id^="S6-"]
    {display: none !important;}

    .about-us-section {
        padding-top: 5vh;
        font-size: 3vw;
    }
    .about-us-section h1 {
        font-size: 6vw;
        font-family: 'Anton',Arial, Helvetica, sans-serif;

    }
    .about-us-section h2 {
        font-size: 4.5vw;
        font-family: 'Terminal Grotesque Open', Arial, sans-serif;

    }

    .khladt-links {
        flex-direction: column; /* Stack buttons vertically */
        gap: 5vh;
    }

    .cta-link {
        font-size: 4vw;
        padding: 2vh 0vw; /* Used the larger padding from the merged style */
        width: 100%; /* Make buttons full width */
    }

    .content-box{padding-top: 20vh;}
    .content-box h3{font-size: 4vw;}
    .cta-button{
        font-size: 2.5vw;
        width: 50vw;}
    .content-box img{width: 100vw;}


.dialogue-box {
    position: fixed;
    bottom: 0;
    max-width:69vw;
    min-height: 9vh;
    z-index: 1000;
    

    box-shadow: 32px 28px 32px rgba(0, 0, 0, 1.8);
    border-radius: 74px;
    display: flex;
    align-items: center;
    padding-right: 0.9vw;
}

.profile-image {
    position: absolute;
    width: 15vW;
    height: auto;
    aspect-ratio: 1 / 1;

    flex-shrink: 0;
    overflow: hidden;
    border-radius: 128px;
}

.profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    position: absolute; 
    opacity: 0; 
}

.dialogue-content {
    padding-left: 18vw;
    flex-grow: 1;
    color: white;
}

.character-name {
    font-size: 4.6vw;
    font-weight: bold;
    color: #ffd700;
    text-transform: uppercase;
}

.dialogue-text {
    font-size: 4.0vw;
    line-height: 2.5vh;
}


.fog.fone {
    background-position: 0%;
    opacity: 1.0;
    top: -9%;
    animation-duration: 85s;}
.fog.ftwo {
    background-position: 50%;
    top: -3%;
    animation-duration: 180s; }
.fog.fthree {
    background-position: 100%;
    top: -5%;
    opacity: 0.6;
    animation-duration: 300s;}

.site-footer {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1vh;}

}


